In [1]:
#initial imports
import pandas as pd
import matplotlib.pyplot as plt 
from sklearn.preprocessing import StandardScaler, LabelEncoder
from sklearn.linear_model import LinearRegression
import statsmodels.api as sm
import numpy as np 
from sklearn.metrics import r2_score
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeRegressor 
import numpy as np

In [2]:
#read in incidence csv from github

incidence_df = pd.read_csv("https://raw.githubusercontent.com/robyndook/Cancer_Treatment_Centers_California/main/Resources/Sex_Incidence_Cancer_DB.csv")                         
#get rid of commas in columns
incidence_df = incidence_df.replace(',','', regex=True)
incidence_df.head()

,average_annual_count,primary_state_name,cancer,race_ethnicity,sex,age,age_adjusted_rate,county_state,index_of_medical_underservice_score,popestimate2015,popestimate2016,popestimate2017,popestimate2018,popestimate2019,abbrv,median_household_income_2015,median_household_income_2016,median_household_income_2017,median_household_income_2018,median_household_income_2019
0,47,Alabama,All Cancer Sites,All Races (includes Hispanic),Males,All Ages,730.1,Lowndes County AL,54.0,10350,10248,10097,9974,9726,AL,31117.0,32011.0,33130.0,33973.0,33930.0
1,35,Alabama,All Cancer Sites,All Races (includes Hispanic),Females,All Ages,504.8,Lowndes County AL,54.0,10350,10248,10097,9974,9726,AL,31117.0,32011.0,33130.0,33973.0,33930.0
2,129,Alabama,All Cancer Sites,All Races (includes Hispanic),Males,All Ages,607.4,Chambers County AL,59.5,33996,33745,33707,33600,33254,AL,35560.0,39530.0,36883.0,39917.0,42015.0
3,107,Alabama,All Cancer Sites,All Races (includes Hispanic),Females,All Ages,437.8,Chambers County AL,59.5,33996,33745,33707,33600,33254,AL,35560.0,39530.0,36883.0,39917.0,42015.0
4,256,Alabama,All Cancer Sites,All Races (includes Hispanic),Males,All Ages,591.1,Elmore County AL,48.0,80872,81204,81422,81011,81209,AL,53548.0,54553.0,59652.0,60367.0,62310.0

In [3]:
#check dtypes
incidence_df.dtypes

average_annual_count                     int64
primary_state_name                      object
cancer                                  object
race_ethnicity                          object
sex                                     object
age                                     object
age_adjusted_rate                       object
county_state                            object
index_of_medical_underservice_score    float64
popestimate2015                          int64
popestimate2016                          int64
popestimate2017                          int64
popestimate2018                          int64
popestimate2019                          int64
abbrv                                   object
median_household_income_2015           float64
median_household_income_2016           float64
median_household_income_2017           float64
median_household_income_2018           float64
median_household_income_2019           float64
dtype: object

In [4]:
#get count of rows
incidence_df.count()

average_annual_count                   5243
primary_state_name                     5243
cancer                                 5243
race_ethnicity                         5243
sex                                    5243
age                                    5243
age_adjusted_rate                      5243
county_state                           5243
index_of_medical_underservice_score    4513
popestimate2015                        5243
popestimate2016                        5243
popestimate2017                        5243
popestimate2018                        5243
popestimate2019                        5243
abbrv                                  5233
median_household_income_2015           5233
median_household_income_2016           5233
median_household_income_2017           5233
median_household_income_2018           5233
median_household_income_2019           5233
dtype: int64

In [5]:
#get count of values for sex
incidence_df["sex"].value_counts()

Males      2626
Females    2617
Name: sex, dtype: int64

In [7]:
#create target 
y = incidence_df[['age_adjusted_rate']]

#change dtype to numeric
y['age_adjusted_rate'] = y['age_adjusted_rate'].astype(float)
y.head()

/Users/hankbowman/opt/anaconda3/envs/mlenv/lib/python3.7/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

   age_adjusted_rate
0              730.1
1              504.8
2              607.4
3              437.8
4              591.1

In [8]:
#create feautures variable holding sex
X = incidence_df[["sex"]]
X.head()

       sex
0    Males
1  Females
2    Males
3  Females
4    Males

In [9]:
#create dummy variables for sex
X = pd.get_dummies(X, columns=["sex"])
X.head()

   sex_Females  sex_Males
0            0          1
1            1          0
2            0          1
3            1          0
4            0          1

In [10]:
#get shape of target array
y.shape

(5243, 1)

In [11]:
#get shape of feautures array
X.shape

(5243, 2)

In [12]:
#split data
X_train, X_test, y_train, y_test = train_test_split(X, y)

In [13]:
#create linear regression model using sklearn
model = LinearRegression()

In [14]:
#fit the model with training data
regression_sex_incidence = model.fit(X_train, y_train)

In [15]:
#Create predictions array using linear regression
y_pred = regression_sex_incidence.predict(X_test)
y_pred

array([[422.7776927],
       [422.7776927],
       [422.7776927],
       ...,
       [422.7776927],
       [422.7776927],
       [422.7776927]])

In [16]:
#get R2 value from linear regression
from sklearn.metrics import r2_score
r2_score(y_test, y_pred)

0.20629372769970278

In [17]:
#run regression again with statsmodels
#use statsmodels to add constant to X
#add constant to X
X1 = sm.add_constant(X)

/Users/hankbowman/opt/anaconda3/envs/mlenv/lib/python3.7/site-packages/statsmodels/tsa/tsatools.py:142: FutureWarning: In a future version of pandas all arguments of concat except for the argument 'objs' will be keyword-only
  x = pd.concat(x[::order], 1)

In [18]:
#fit linear regression model
model = sm.OLS(y, X1).fit()

In [19]:
#view model summary with statsmodels
print(model.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:      age_adjusted_rate   R-squared:                       0.227
Model:                            OLS   Adj. R-squared:                  0.227
Method:                 Least Squares   F-statistic:                     1539.
Date:                Fri, 03 Jun 2022   Prob (F-statistic):          2.48e-295
Time:                        14:59:45   Log-Likelihood:                -29463.
No. Observations:                5243   AIC:                         5.893e+04
Df Residuals:                    5241   BIC:                         5.894e+04
Df Model:                           1
Covariance Type:            nonrobust
===============================================================================
                  coef    std err          t      P>|t|      [0.025      0.975]
-------------------------------------------------------------------------------
const         305.8150      0.614    497.678      0.000     304.610     307.020
sex_Females   116.7511      0.972    120.104      0.000     114.845     118.657
sex_Males     189.0638      0.971    194.694      0.000     187.160     190.968
==============================================================================
Omnibus:                      898.952   Durbin-Watson:                   0.857
Prob(Omnibus):                  0.000   Jarque-Bera (JB):            15856.432
Skew:                           0.268   Prob(JB):                         0.00
Kurtosis:                      11.503   Cond. No.                     4.01e+15
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The smallest eigenvalue is 4.89e-28. This might indicate that there are
strong multicollinearity problems or that the design matrix is singular.

In [20]:
#fit the model with training data
#decision tree regression
regressor_DT = DecisionTreeRegressor()
regressor_DT.fit(X_train, y_train)

DecisionTreeRegressor()

In [21]:
#predict
y_pred = regressor_DT.predict(X_test)
y_pred

array([422.7776927, 422.7776927, 422.7776927, ..., 422.7776927,
       422.7776927, 422.7776927])

In [22]:
#calculate r2 score
r2_score(y_test, y_pred)

0.20629372769970278