In [10]:
#initial imports
import pandas as pd
import matplotlib.pyplot as plt 
from sklearn.preprocessing import StandardScaler, LabelEncoder
from sklearn.linear_model import LinearRegression
import statsmodels.api as sm
import numpy as np 
from sklearn.metrics import r2_score
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeRegressor 
import numpy as np

In [11]:
#read in incidence csv from github

mortality_df = pd.read_csv("https://raw.githubusercontent.com/robyndook/Cancer_Treatment_Centers_California/main/Resources/Sex_Mortality_Cancer_DB.csv")                         
#get rid of commas in columns
mortality_df = mortality_df.replace(',','', regex=True)
mortality_df.head()

,average_annual_count,primary_state_name,cancer,race_ethnicity,sex,age,age_adjusted_rate,county_state,index_of_medical_underservice_score,popestimate2015,popestimate2016,popestimate2017,popestimate2018,popestimate2019,median_household_income_2015,median_household_income_2016,median_household_income_2017,median_household_income_2018,median_household_income_2019
0,18,Alabama,All Cancer Sites,All Races (includes Hispanic),Males,All Ages,296.3,Wilcox County AL,51.0,10896,10844,10691,10599,10373,23014.0,24216.0,25700.0,25385.0,30998.0
1,13,Alabama,All Cancer Sites,All Races (includes Hispanic),Females,All Ages,153.2,Wilcox County AL,51.0,10896,10844,10691,10599,10373,23014.0,24216.0,25700.0,25385.0,30998.0
2,32,Alabama,All Cancer Sites,All Races (includes Hispanic),Males,All Ages,290.7,Macon County AL,28.0,19296,19060,18793,18321,18068,29522.0,30681.0,30849.0,32495.0,34281.0
3,22,Alabama,All Cancer Sites,All Races (includes Hispanic),Females,All Ages,146.1,Macon County AL,28.0,19296,19060,18793,18321,18068,29522.0,30681.0,30849.0,32495.0,34281.0
4,17,Alabama,All Cancer Sites,All Races (includes Hispanic),Males,All Ages,283.8,Lowndes County AL,54.0,10350,10248,10097,9974,9726,31117.0,32011.0,33130.0,33973.0,33930.0

In [12]:
#check dtypes
mortality_df.dtypes

average_annual_count                     int64
primary_state_name                      object
cancer                                  object
race_ethnicity                          object
sex                                     object
age                                     object
age_adjusted_rate                      float64
county_state                            object
index_of_medical_underservice_score    float64
popestimate2015                          int64
popestimate2016                          int64
popestimate2017                          int64
popestimate2018                          int64
popestimate2019                          int64
median_household_income_2015           float64
median_household_income_2016           float64
median_household_income_2017           float64
median_household_income_2018           float64
median_household_income_2019           float64
dtype: object

In [13]:
#get count of rows
mortality_df.count()

average_annual_count                   4691
primary_state_name                     4691
cancer                                 4691
race_ethnicity                         4691
sex                                    4691
age                                    4691
age_adjusted_rate                      4691
county_state                           4691
index_of_medical_underservice_score    4069
popestimate2015                        4691
popestimate2016                        4691
popestimate2017                        4691
popestimate2018                        4691
popestimate2019                        4691
median_household_income_2015           4682
median_household_income_2016           4682
median_household_income_2017           4682
median_household_income_2018           4682
median_household_income_2019           4682
dtype: int64

In [14]:
#get count of values for sex
mortality_df["sex"].value_counts()

Males      2368
Females    2323
Name: sex, dtype: int64

In [15]:
#create target 
y = mortality_df[['age_adjusted_rate']]

#change dtype to numeric
y['age_adjusted_rate'] = y['age_adjusted_rate'].astype(float)
y.head()

/Users/hankbowman/opt/anaconda3/envs/mlenv/lib/python3.7/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

   age_adjusted_rate
0              296.3
1              153.2
2              290.7
3              146.1
4              283.8

In [16]:
#create feautures variable holding sex
X = mortality_df[["sex"]]
X.head()

       sex
0    Males
1  Females
2    Males
3  Females
4    Males

In [17]:
#create dummy variables for sex
X = pd.get_dummies(X, columns=["sex"])
X.head()

   sex_Females  sex_Males
0            0          1
1            1          0
2            0          1
3            1          0
4            0          1

In [18]:
#get shape of target array
y.shape

(4691, 1)

In [19]:
#get shape of feautures array
X.shape

(4691, 2)

In [20]:
#split data
X_train, X_test, y_train, y_test = train_test_split(X, y)

In [22]:
#create linear regression model using sklearn
model = LinearRegression()

In [23]:
#fit the model with training data
regression_sex_mortality = model.fit(X_train, y_train)

In [25]:
#Create predictions array using linear regression
y_pred = regression_sex_mortality.predict(X_test)
y_pred

array([[141.2677456 ],
       [141.2677456 ],
       [199.74786568],
       ...,
       [199.74786568],
       [199.74786568],
       [199.74786568]])

In [26]:
#get R2 value from linear regression
from sklearn.metrics import r2_score
r2_score(y_test, y_pred)

0.4487806416951212

In [27]:
#run regression again with statsmodels
#use statsmodels to add constant to X
#add constant to X
X1 = sm.add_constant(X)

/Users/hankbowman/opt/anaconda3/envs/mlenv/lib/python3.7/site-packages/statsmodels/tsa/tsatools.py:142: FutureWarning: In a future version of pandas all arguments of concat except for the argument 'objs' will be keyword-only
  x = pd.concat(x[::order], 1)

In [28]:
#fit linear regression model
model = sm.OLS(y, X1).fit()

In [29]:
#view model summary with statsmodels
print(model.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:      age_adjusted_rate   R-squared:                       0.459
Model:                            OLS   Adj. R-squared:                  0.459
Method:                 Least Squares   F-statistic:                     3975.
Date:                Fri, 03 Jun 2022   Prob (F-statistic):               0.00
Time:                        15:19:53   Log-Likelihood:                -22961.
No. Observations:                4691   AIC:                         4.593e+04
Df Residuals:                    4689   BIC:                         4.594e+04
Df Model:                           1
Covariance Type:            nonrobust
===============================================================================
                  coef    std err          t      P>|t|      [0.025      0.975]
-------------------------------------------------------------------------------
const         113.7831      0.315    361.564      0.000     113.166     114.400
sex_Females    27.1308      0.499     54.369      0.000      26.153      28.109
sex_Males      86.6522      0.496    174.651      0.000      85.680      87.625
==============================================================================
Omnibus:                      971.594   Durbin-Watson:                   0.961
Prob(Omnibus):                  0.000   Jarque-Bera (JB):             8476.021
Skew:                           0.739   Prob(JB):                         0.00
Kurtosis:                       9.417   Cond. No.                     9.51e+15
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The smallest eigenvalue is 7.78e-29. This might indicate that there are
strong multicollinearity problems or that the design matrix is singular.

In [30]:
#fit the model with training data
#decision tree regression
regressor_DT = DecisionTreeRegressor()
regressor_DT.fit(X_train, y_train)

DecisionTreeRegressor()

In [31]:
#predict
y_pred = regressor_DT.predict(X_test)
y_pred

array([141.2677456 , 141.2677456 , 199.74786568, ..., 199.74786568,
       199.74786568, 199.74786568])

In [32]:
#calculate r2 score
r2_score(y_test, y_pred)

0.44878064169512133